@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant Rater is a web app powered by ASP.NET MVC that helps you find out how highly , or not, restaurants are being scored . This will be a very helpful tool when you want to try somewhere new!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click below to rate a restaurant!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Click the button below for more information on Restaurant Rater</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Click the button below to contact the owners of Restaurant Rater with comments, questions or concerns.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact us! &raquo;</a></p>
    </div>
</div>